venv/
Irises_Classwork.ipynb
Final_Project_Test.ipynb
Final_Project_Test.ipynb
Final_Project_Test.ipynb
Test_SGT.ipynb
Test_SGT.ipynb
SGT_Project.ipynb
Test_SGT.ipynb
df_melted
Dictionaries_Auction.py
Dictionaries.py
Exercises_Day_6.py
Dictionaries_Auction.py
Exercise_Day_5.py
Exercises_day4
Fizz_Prime_Leap.py
